.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.weather-item {
  margin-right: 40px;
  font-size: 14px;
}

.weather-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
