.weather-container {
  padding-top: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.weather-item {
  font-size: 10px;
  padding-right: 20px;
}

.weather-item img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}
