body {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 94px;
}

h3 {
  font-size: 60px;
  color: gray;
  text-align: right;
  margin-top: -70px;
  margin-right: 400px;
}

.title {
  background-color: green;
  margin: 100px 0px;
  padding: 1px 0; /* Adjusted padding */
}

/* background-color: #f2f2f2; */

.info,
.infotwo {
  background-color: lightblue;
  padding: 100px 0; /* Adjusted padding */
  margin: 100px 0;
}

.questions {
  padding: 1px 0 100px; /* Adjusted padding */
}

.questions button {
  margin-top: 50px;
}
