html,
body,
#react-root {
  width: 95%;
  margin-left: 70px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Layout.css
-------------------------------------------------------------------------------- */

.textLeft {
  text-align: left;
  padding-left: 20px;
}

.black {
  color: #132640;
}

.para-input input {
  background-color: #f0f0f0;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  margin-top: 40px;
  margin-right: 20px;
  padding: 10px 20px;
  border-color: #132640;
  border-radius: 4px;
  background-color: white;
  color: #132640;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 10px;
}

#btnReg {
  width: 400px;
}

#btnReg2 {
  width: 400px;
}

.selected {
  background-color: #f2ab27;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #f2ab27;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding-left: 10px;
  margin-top: -10px;
  border-width: 0;
  border-bottom: 0;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #132640;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: gray;
  color: gray;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 600px;
  max-width: 100%;
  padding: 30px;
  margin: 100px auto 100px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.dark {
  background-color: #132640;
}

.light {
  color: white;
}

.form-group {
  position: relative;
  margin: 20px 0;
}

.form-group label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 14px;
  color: #999;
  padding: 0 5px;
  transition: 0.2s;
  pointer-events: none;
}

.formGroup input {
  width: 75%;
  margin: 10px;
  height: 50px;
  font-size: 16px;
  padding: 0 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* input {
  margin: 5px;
  margin-bottom: 10px;
} */

.boldText {
  font-weight: bold;
  color: white;
}

.roledisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Center items horizontally */
  width: 100%;
}

h7 {
  font-size: 60px;
  margin-bottom: -40px;
}

/* --------------------------------------------------------------------------------
Top Main Navigation
-------------------------------------------------------------------------------- */

.nav {
  background-color: black;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-title {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  padding: 0px 10px;
  vertical-align: middle;
  padding: 0px 50px 0px 10px;
}

.nav-title svg {
  height: 40px;
  width: 40px;
}

/* --------------------------------------------------------------------------------
Side Navigation
-------------------------------------------------------------------------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #132640;
}

.navbar a {
  display: block;
  color: #fff;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd; /* Background color on hover */
  color: #333; /* Text color on hover */
}

.schedule-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  align-items: center;
}
.schedule-nav svg {
  height: 30px;
  width: 30px;
  margin-top: 20px;
}

/* --------------------------------------------------------------------------------
Footer
-------------------------------------------------------------------------------- */

footer {
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

footer img {
  height: 35px;
  width: 35px;
}

/* --------------------------------------------------------------------------------
Landing Page
-------------------------------------------------------------------------------- */

h1 {
  font-size: 94px;
  text-align: center;
}

h3 {
  font-size: 60px;
  color: #f2ab27;
  text-align: center;
  margin-top: -60px;
  margin-left: 300px;
}

.title {
  background-color: #7b85a6;
  margin: 100px 0px;
  padding: 1px 0;
}

.info,
.infotwo {
  background-color: #f2f2f2;
  padding: 100px 0; /* Adjusted padding */
  margin: 100px 0;
}

.questions {
  padding: 1px 0 100px; /* Adjusted padding */
}

.questions button {
  margin-top: 50px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------
Availability Data
-------------------------------------------------------------------------------- */

.availability-item {
  margin-bottom: 10px;
}

/* --------------------------------------------------------------------------------
Top Login Navigation & Weather Data
-------------------------------------------------------------------------------- */

.weather-container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f2f2f2;
}

.nav-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -40px;
  background-color: #f2f2f2;
}

.weather-item {
  font-size: 10px;
  padding-right: 20px;
}

.weather-item img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.nav-item {
  color: #132640;
}
.nav-item svg {
  height: 30px;
  width: 30px;
}
