body {
  background-color: lightgray;
  margin: 90px 150px;
}

.frame {
  width: 90%;
  padding-left: 100px;
}

.black {
  color: black;
}

.para-input input {
  background-color: #f0f0f0;
}

.weather-data {
  margin-left: 20px;
  align-self: flex-start;
  background-color: blue;
}

weather-layout {
  background-color: green;
}
