body {
  background-color: lightgray;
  margin: 150px 150px;
}

.frame {
  width: 90%;
  /* display: flex;
  justify-content: flex-end; */
  padding-left: 100px;
}

.black {
  color: black;
}

.para-input input {
  background-color: #f0f0f0;
}
