/* .frame {
  text-align: left;
}

.schedule-nav {
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

.nav-item {
  background-color: teal;
}
.schedule-nav svg {
  height: 30px;
  width: 30px;
} */
