.nav {
  background-color: black;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-title {
  color: #f2f2f2;
  text-decoration: none;
  font-weight: 700;
  padding: 0px 10px;
  vertical-align: middle;
  padding: 0px 50px 0px 10px;
}

.nav-title svg {
  height: 40px;
  width: 40px;
}
