.nav2 {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsl(0, 0%, 100%);
}

.navLink2 {
  color: black;
  margin-right: 30px;
}

.navLink2 svg {
  height: 30px;
  width: 30px;
}
